<div class="container mt-5">
  <mat-card class="mt-5">
    <h1
      class="text-center mt-3"
      style="font-size: 3rem !important; font-weight: 400; color:  #e65218"
    >
      ONLINE TEST
    </h1>

    <div class="container col-md-8 offset-md-2 mt-5">
      <h1>
        Developed and designed by <b style="color:  #e65218"> Manisha Varade </b>
      </h1>

      <h3>Developer Contact: manishavarade11@gmail.com</h3>
      <h3 class="mb-2">Description:-</h3>
      <p>
        <b style="color: #e65218"> ONLINE TEST </b> is an online application for
        taking online MCQs test and it has inbuilt functionality to judge the
        score and total marks and indicate whether the examinee passed or failed
        the test. We just have to give the data of the quiz as JSON which
        contains Quiz's title, description, questions with multiple options and
        a serail number with each option and at at last an array of the correct
        options serial number and you are good to go!.
        <b style="color:  #e65218"> ONLINE TEST </b> is designed for dynamic quizzes
        with dynamic length of questions or options.
      </p>
      <p>
        <b style="color:  #e65218"> ONLINE TEST </b> even take the data of the user
        who takes the test and use it to personalise the experience of users.
        and most importantly it saves the results of each test ever given with
        the details of user and the quiz he took, scored marks and Out of marks
        from which it was stored and status such as user passed the test or
        failed.
      </p>
      <p>
        Aside from wonderful technical experience.
        <b style="color:  #e65218"> ONLINE TEST </b> evens has seamless UI and UX with
        minimalistic design which makes it easier for the user to navigate and
        take the quiz.
      </p>
    </div>
  </mat-card>
</div>
